<!-- <ion-header>
	<ion-navbar>
		<ion-title>
			Login Page
		</ion-title>
	</ion-navbar>
</ion-header>
 -->
<ion-content>
	<div id="main" class="login-page">
			<div class="container">
				<div class="row" style="padding-top:150px;">
					<div class="col-md-6 text-center" >
						<div class="branding-left align-middle">
							<img src="./assets/images/svg/novopsych-logo.svg" alt="" class="pt-5" style="width:175px;">
							<h1 class="mt-3">NovoPsych</h1>
							<p class="lead mt-4">Administer assessments, receive reports.<br/> For Psychologists, <br/>Psychiatrists &amp; Counsellors</p>
						</div>
					</div>
					<div class="col-md-6">
						<form action="">
							<legend>Login</legend>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="email">
							</div>

							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password">
							</div>
							<a href="#" class="font-small color-white">Forgot Password?</a>
							<div class="form-group pt-4">
								<button class="btn btn-primary w-100" (click)="toHome()">Login</button>
							</div>
							<hr class="my-4 mx-0 line">
							<h4 class="my-0">New to NovoPsych?</h4>
							<div class="form-group mt-4">
								<button class="btn btn-primary w-100">Register New Account</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</ion-content>
