<!-- <ion-header>
	<ion-navbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-navbar>
</ion-header>
 -->
<ion-content>

	<div id="main" class="home-page">
		<div class="home-header px-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-9">
						<img src="http://placehold.it/40x40" alt="" class="float-left mr-3">
						<p class="lead font-large mt-0">Welcome to NosoPsych, Dr. Crane</p>
					</div>
					<div class="col-md-3 text-right">
						<a href="" class="font-medium font-weight-bold color-white d-block mt-2">Log out</a>
					</div>
				</div>
			</div>
		</div>
		<div class="home-actions">
			<div class="bg-overlay"></div>
			<div class="container-fluid">
				<div class="row px-2">
					<div class="col-md-4">
						<div class="home-action">
							<img src="./assets/images/svg/home-administer.svg" alt="">
							<h3 class="font-large mt-3 mb-0">Administer</h3>
						</div>
					</div>
					<div class="col-md-4">
						<div class="home-action">
							<img src="./assets/images/svg/home-email.svg" alt="">
							<h3 class="font-large mt-3 mb-0">Email Assessment</h3>
						</div>
					</div>
					<div class="col-md-4">
						<div class="home-action">
							<img src="./assets/images/svg/home-schedule.svg" alt="">
							<h3 class="font-large mt-3 mb-0">Schedule Assessment</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="activity_news mt-5 px-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<h4>Recent Acitvity</h4>
						<div class="activity">
							<ul class="list-group">
								<li class="list-group-item">
									<img class="check" src="./assets/images/tick.png">
									<strong>Verna Swanson</strong>
									<span>completed DASS-21</span>
								</li>
								<li class="list-group-item">
									<img class="check" src="./assets/images/tick.png">
									<strong>Diro Swanson</strong>
									<span>was sent DASS-21</span>
								</li>
								<li class="list-group-item">
									<img class="check" src="./assets/images/tick.png">
									<strong>Verna Swanson</strong>
									<span>completed DASS-21</span>
								</li>
								<li class="list-group-item">
									<img class="check" src="./assets/images/tick.png">
									<strong>Verna Swanson</strong>
									<span>completed DASS-21</span>
								</li>
								<li class="list-group-item">
									<img class="check" src="./assets/images/tick.png">
									<strong>Verna Swanson</strong>
									<span>completed DASS-21</span>
								</li>
								<li class="list-group-item">
									<img class="check" src="./assets/images/tick.png">
									<strong>Diro Swanson</strong>
									<span>was sent DASS-21</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<h4>News</h4>
						<div class="news">
							<ul class="list-group">
								<li class="list-group-item">
									<span>Activated 1 Month unlimited access</span>
								</li>
								<li class="list-group-item">
									<span>Cooking with the power of sun</span>
								</li>
								<li class="list-group-item">
									<span>Lorem ipsum dolor sit amet, consectetur.	</span>
								</li>
								<li class="list-group-item">
									<span>Lorem ipsum dolor sit amet.</span>
								</li>
								<li class="list-group-item">
									<span>Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
								</li>
								<li class="list-group-item">
									<span>Lorem ipsum dolor sit.</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="padding-top:70px;"></div>
	</div>
</ion-content>
