page-home {
	.home-page{
		.home-header{
			padding: 30px 0px;
			background: $blue;
			color: #fff;
		}
	}
	.home-actions{
		position: relative;
		.home-action{
			padding: 30px;
			text-align: center;
			box-shadow: $shadow;
			border-radius: 4px;
			z-index: 2;
			background: #fff;
			img{
				width: 90px;
				height: 80px;
			}
		}
		.bg-overlay{
			position: absolute;
			height: 80px;
			background: $blue;
			width: 100%;
			z-index: -1;
		}
	}
	.home-page{
		.activity{
			.list-group-item{
				strong, span{
					padding-left: 5px;
				}
			}
		}
	}
}
