// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html, body{
    font-size: 15px!important;
}
body{
    background: #eee;
}
.pad30{
	padding-top: 30px;
}
.pad60{
	padding-top: 60px;
}
.btn.btn-primary{
	font-size: $btnFontSmall;
	padding: 10px;
	border-radius: 4px;	
	background-color: $green;
	border: none;
}
.btn.btn-success{
	background: #78D44F;
	border-color: #78D44F;
	outline: none;
	box-shadow: none;
}
.btn-icon{
	background: none;
	border: 0px;
	outline: 0px;
	padding: 0px;
	&:focus{
		outline: none;
	}
}
.minus-top-2{
	position: relative;
	top:-2px;
}
.color-white{
	color: #fff!important;
}
.bg-white{
	background: #fff!important;
}
hr.line{
	box-sizing: border-box;	
	height: 2px;	
	border: 1px solid #FFFFFF;	
	opacity: 0.3;
}

.font-small{
	font-size: $fontSmall!important;
}
.font-medium{
	font-size: $fontMedium!important;
}
.font-lead{
	font-size: $fontLead!important;
}
.font-large{
	font-size: $fontLarge!important;
}

form{
	label{
		font-size: $fontSmall;
		margin-bottom: 3px;
	}
	.form-control{
		outline: none;
		border: none;
		border-radius: 4px;
	}
}
#main{
	margin-bottom: 60px;
}

img.check{
	width: 20px;
	position: relative;
	top: -1px;
}
.search-label{
	img{
		width: 18px;
		position: relative;
		top:-2px;
	}
}
.nav{
	position: fixed;
	bottom: 0px;
	display: block;
	width: 100%;
	background: #fff;
	box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
	height: 55px;
	.menu{
		ul{
			list-style: none;
			margin-bottom: 0px;
			padding: 0px;
			li{
				text-align: center;
				list-style: none;
				display: inline-block;
				width: 100px;
				padding: 5px;
				a{
					text-decoration: none;
				}
				&.active{
					p{
						color: #05BDFF;
					}
					img{
						-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
					    filter: grayscale(0%);
					}
				}
				p{
					margin-bottom: 0px;
					color: #888;
					font-size: $fontSmall;
				}
				img{
					-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
				    filter: grayscale(100%);
				}
			}
		}
	}
}

.login-page{
	background: $blue;
	height: 100vh;
	color: #fff;
	.container, .row{
		height: 100vh;
	}
}